footer {
  background-color: #343434;
  color: #7c7b7b;
  font-size: 14px;
  padding: 15px 20px;
  margin-top: 120px;
  text-align: right;
}

.copyright {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}




