<nav class="saidbar">
  <ul>
    <li><a href="#">Family movies</a></li>
    <li><a href="#">Social movies</a></li>
    <li><a href="#">Mystery movies</a></li>
    <li><a href="#">Fantasy movies</a></li>
    <li><a href="#">Adventure movies</a></li>
    <li><a href="#">Drama movies</a></li>
  </ul>
</nav>
